
<TelerikListView Data="@Data" Pageable="false">
    <HeaderTemplate>
        <div style="display: flex; justify-content: center;">
            <h6>@Title</h6>
        </div>
    </HeaderTemplate>
    <Template>
            <Ticket Data="@context"></Ticket>
    </Template>
</TelerikListView>
@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required IEnumerable<GetTaskResponse> Data { get; set; }
}
